<!DOCTYPE html>
<html>
    <head ng-app="ShoppingListDirectiveApp">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <meta charset="utf-8"/>
        <title>Shopping List Directive</title>

    </head>

    <body>

        <h1>Shopping List</h1>
        <div id="list1" ng-controller='ShoppingListController1 as list'>
            <h3>Shopping List #1</h3>
                  
            <input type="text" ng-model="list.itemName" placeholder="Item Name">
            <input type="text" ng-model="list.itemQuantity" placeholder="Item Quantity">
            <button ng-click="list.addItem();"> Add Item To Shopping List</button>
       
            <ol>
                <li ng-repeat="item in list.items">
                     <list-item-description></list-item-description>
                    <button ng-click="list.removeItem($index);">Remove</button>
                </li>
            </ol>
            <div class="error">Error: {{list.errorMessage}}</div>
        </div>


        <div id="list1" ng-controller='ShoppingListController1 as list'>
            <h3>Shopping List #2</h3>
                  
            <input type="text" ng-model="list.itemName" placeholder="Item Name">
            <input type="text" ng-model="list.itemQuantity" placeholder="Item Quantity">
            <button ng-click="list.addItem();"> Add Item To Shopping List</button>
       
            <ol>
                <li ng-repeat="item in list.items">
                    <list-item-description></list-item-description>
                    <button ng-click="list.removeItem($index);">Remove</button>
                </li>
            </ol>
            <div class="error">Error: {{list.errorMessage}}</div>
        </div>



    </body>
</html>